{{ "<!-- home -->" | safeHTML }}
{{ if  .text.enable }}
{{ with .text }}
<section class="home-text text-center">
  <div class="container">
    <img src="{{ .logo }}" alt="misael gaytan" width="133">
    <h2>
      {{ .title }}
    </h2>
    <span class="fs-5">{{ .description | safeHTML }}</span>
    {{ range .buttons }}
    <div class="mt-5">
      <a class="btn {{ .color }}" href="{{ .link | absURL }}">{{ .label }}</a>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- /home -->" | safeHTML }}
