<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{- partial "head" . -}}

<body>
  {{- partial "overlay" . -}}
  <div class="site-wrapper">
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>

  {{ $compressed := .Site.Data.webpack.compressed }}{{ with $compressed.js }}
  <script src="{{ relURL . }}"></script>{{ end }}
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
