footer {
  margin-top: 120px;
  margin-bottom: 60px;

  .social-icons {
    margin-bottom:40px;

    li {
      line-height: 0;

      &:not(:last-child) {
        margin-right:30px;
      }
    }
  }
}
